* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');

.fas {
  font-size: 20px;
  padding: 20px;
}

.fa-edit, .fa-trash {
  cursor: pointer;
}

.newexp button {
    padding: 5px;
    background-color: #3101ff;
    border: none;
}

.newexp button:hover {
    background-color: rgb(146, 29, 255);
    border: none;
}

.newexp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.exp {
  display: flex;
  justify-content: start;
  padding: 10px;
  margin-top:  40px;
  margin-left: 200px;
  position: absolute;
}

h1 {
font-family: 'Montserrat', sans-serif;
font-weight: 800;
}

.experiencias {
  display: flex;
  justify-content: flex-end;
  margin-left: 50rem;
  position: relative;
}



.pas1 h3 {
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}
    
.pas1 p {
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}
  
  .wave_experiencia {
    transform: rotate(180deg);
  }