<svg class="wave_experiencia" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#fff1fd" fill-opacity="1"
    d="M0,128L60,154.7C120,181,240,235,360,218.7C480,203,600,117,720,106.7C840,96,960,160,1080,181.3C1200,203,1320,181,1380,170.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
  </path>
</svg>

<div class="experiencias">
  <div class="exp">
    <h1>EXPERIENCIAS</h1>
  </div>
  <div class="pasantias">

    <div class="fas">
    <i class="fas fa-plus"></i>
    <i class="fas fa-edit"></i>
    <i class="fas fa-trash"></i>
    </div>

    <div class="pasantia">
      <span>01</span>
      <div class="pas1">
        <h3>Pasantía</h3>
        <p>Realicé una pasantía en el año 2019 en el Colegio Provincial Antártida Argentina
          donde me dedicada al desbloqueo, mantenimiento y reparación de las netbooks
          del establecimiento.
        </p>
      </div>
    </div>
    <br>
    <div class="pasantia">
      <span>02</span>
      <div class="pas1">
        <h3>Página web de Anime</h3>
        <p>Realicé una página de anime en el año 2021 utilizando WordPress y alojada en BanaHosting.
          En el apartado de proyectos encontrarán un vídeo de dicha página.
        </p>
      </div>
    </div>
  </div>
</div>

<svg class="wave_experiencia2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#fff1fd" fill-opacity="1"
    d="M0,128L60,154.7C120,181,240,235,360,218.7C480,203,600,117,720,106.7C840,96,960,160,1080,181.3C1200,203,1320,181,1380,170.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
  </path>
</svg>