<div class="personalbox">
  <div class="sobre-mi">
    <h1>
      PORTFOLIO <br> WILSON ROSA
    </h1>
    <h5>Full Stack Developer Jr.</h5>
    <p>¡Hola! Soy estudiante de programación y este es mi portfolio web. Aquí podrás ver mis habilidades como
      desarrollador.</p>
    <a download="" href="assets/doc/CvWilson.pdf">
      <button type="button" class="btn btn-primary descargar-cv">Descargar CV</button>
    </a>
  </div>
  <div class="imagenwilson">
    <img src="assets/img/wavepersonal1.png" width="100%" height="100%" alt="">
  </div>
</div>