<h1 class="proyectos">PROYECTOS</h1>

<div class="container-projects">
  <div class="card 1" style="width: 18rem;">
    <img src="/assets/img/anime2sis.png" class="card-img-top" alt="...">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Página Web de Anime</h5>
        <p class="card-text">Realicé está página web utilizando WordPress y la alojé en Banahosting
          en el año 2021.
        </p>
        <a href="/assets/video/anime2sis.mp4" class="btn btn-primary"
          onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=yes,fullscreen=no,scrollbars=no,dependent=no,width=500,left=400,height=500,top=100'); return false;">Ver
          vídeo</a>
      </div>
    </div>
  </div>

  <div class="card 2" style="width: 18rem;">
    <img src="/assets/img/portfolio-wilson.png" class="card-img-top" alt="...">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Mi PortFolio Web</h5>
        <p class="card-text">Para realizar este PortFolio utlicé HTML, CSS Y JAVASCRIPT,
          utilizando el Framework ANGULAR.
        </p>
        <a href="/assets/img/portfolio-wilson.png" class="btn btn-primary"
          onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=yes,fullscreen=no,scrollbars=no,dependent=no,width=500,left=400,height=500,top=100'); return false;">Ver
          Imagen</a>
      </div>
    </div>
  </div>

  <div class="card 3" style="width: 18rem;">
    <img src="/assets/img/portfolio-wilson.png" class="card-img-top" alt="...">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Mi PortFolio Web</h5>
        <p class="card-text">Para realizar este PortFolio utlicé HTML, CSS Y JAVASCRIPT,
          utilizando el Framework ANGULAR.
        </p>
        <a href="/assets/img/portfolio-wilson.png" class="btn btn-primary"
          onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=yes,fullscreen=no,scrollbars=no,dependent=no,width=500,left=400,height=500,top=100'); return false;">Ver
          Imagen</a>
      </div>
    </div>
  </div>

</div>