* {
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');

.container-projects {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}

.proyectos {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.btn {
    background-color: #3101ff;
    border-radius: 30px 30px 30px 30px;
}

.btn:hover {
    background-color: #5732fa;
}