<header>
    <a routerLink=""><button class="home">HOME</button></a>
</header>
<div class="gradient">
    <div class="logtext">
        <h1>Login</h1>
    </div>
    <div class="logsubtext">
        <p>Inicia sesión para continuar</p>
    </div>

    <form>
        <div class="log">
            <label class="usuario"> Ingresa tu usuario </label>
            <input type="text" class="user">
        </div>
        <div class="log">
            <label class="password">Ingresa tu contraseña</label>
            <input type="password" class="pass">
        </div>
        <div class="log"><button type="submit">LOGIN</button></div>
    </form>
</div>