* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.login {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  width: 80px;
  border-radius: 20px 20px 20px 20px;
  background-color: #3101ff;
  border-color: #3101ff;
}

.navtext {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-right: 1em;
  background-color: #fff1fd;
  border-radius: 50%;
}

.nav-link {
  color: black;
}

.imagenes-header {
  margin-right: 45em;
  width: 114px;
  height: 70px;
}