<header>

    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/assets/img/logoar-pro.png" alt="Logo" width="370" height="70" class="d-inline-block align-text-top">
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item navtext">
            <a class="nav-link active" aria-current="page" href="#">Linkedin</a>
          </li>
          <li class="nav-item navtext">
            <a class="nav-link" href="https://www.instagram.com/wilsonmg03/" target="_blank">Instagram</a>
          </li>
          <li class="nav-item navtext">
            <a class="nav-link" href="https://wa.me/+542964665866" target="_blank">WhatsApp</a>
          </li>
          <button type="button" class="btn btn-primary login">Login</button>
        </ul>
      </div>
    </nav>
  </header>
  
