<div class="titulo">
    <h1>HABILIDADES</h1>
</div>

<button type="button" class="btn btn-danger" routerLink="/agregar-skill">Añadir Habilidad</button>

<div class="tarjetas">
<div class="card text-bg-secondary mb-3" style="max-width: 18rem;" *ngFor="let habilidad of skill">
  <div class="card-header">
    <i class="fa-solid fa-pen-to-square" routerLink="editar-skill/{{habilidad.id}}"></i>
    <i class="fa-solid fa-trash" (click)="borrar(habilidad.id)"></i>
    <div class="card-body">
      <h5 class="card-title"> <img src="{{habilidad.urlimagen}}" width="25px" height="25px" alt=""> {{habilidad.nombre}}</h5>
      <p class="card-text">{{habilidad.descripcion}}</p>
    </div>
  </div>
</div>
</div>