<div class="tecnologias">
  <h1>TECNOLOGÍAS</h1>
  <div class="cajas">
    <div class="caja1">
      <img src="assets/img/html.png" alt="">
      <h5>HTML</h5>
      <p>Tengo conocimientos básicos sobre HTML.</p>
    </div>
    <div class="caja2">
      <img src="assets/img/css.png" alt="">
      <h5>CSS</h5>
      <p>Tengo conocimientos básicos sobre CSS.</p>
    </div>
    <div class="caja3">
      <img src="assets/img/javascript.png" alt="">
      <h5>JAVASCRIPT</h5>
      <p>Tengo conocimientos básicos sobre JavaScript</p>
    </div>
    <div class="caja4">
      <img src="assets/img/wordpress.png" alt="">
      <H5>WORDPRESS</H5>
      <p>Tengo conocimiento medio sobre WordPress.</p>
    </div>
  </div>
  <br><br><br><br><br>
</div>