* {
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');

 .tecnologias {
  background-image: url('wave_tec.png');
}
  
  .tecnologias h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    justify-content: center;
    text-align: center;
    }
    
  
  .cajas {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em;
    justify-content: space-between;
    margin-top: 7.6em;
    padding-bottom: 10em;
  }
  
  .caja1 img {
    width: 80px;
    height: 80px;
  }
  
  .caja2 img {
    width: 80px;
    height: 80px;
  }
  
  .caja3 img {
    width: 80px;
    height: 80px;
  }
  
  .caja4 img {
    width: 80px;
    height: 80px;
  }
  
  .cajas h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  
  .cajas p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2.5em;
  }
  