* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.login {
  font-weight: 600  ;
  font-family: 'Montserrat', sans-serif;
  width: 80px;
  border-radius: 20px 20px 20px 20px;
  background-color: #3101ff;
  border-color: #3101ff;
}

.descargar-cv {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  width: 140px;
  border-radius: 20px 20px 20px 20px;
  background-color: #3101ff;
  border-color: #3101ff;
}

.imagenes-header {
 margin-right: 45em;
 width: 114px;
 height: 70px;
}

.navtext {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #000 !important;
  margin-right: 1em;
  background-color: #fff1fd;
  border-radius: 50%;
}

.nav-link {
  color: #000;
}

.personalbox {
margin-left: 15em;
position: relative;
display: flex;
align-items: center;
}

.personalbox h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.personalbox p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
} 

.imagenwilson {
margin-left: 10em;
margin-top: 5em;
width: 100%;
height: 100%;
}

.tecnologias {
  background-image: url("wave.png");
  padding-top: 3em;
}

.tecnologias h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  justify-content: center;
  text-align: center;
  }
  

.cajas {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1em;
  justify-content: space-between;
  margin-top: 7.6em;
  padding-bottom: 10em;
}

.caja1 img {
  width: 80px;
  height: 80px;
}

.caja2 img {
  width: 80px;
  height: 80px;
}

.caja3 img {
  width: 80px;
  height: 80px;
}

.caja4 img {
  width: 80px;
  height: 80px;
}

.cajas h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.cajas p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2.5em;
}