form {
    color: white;
}
h2 {
    display: flex;
    justify-content: center;
    color: white;
    padding: 70px;
}

.container, .boton {
    display: grid;
    place-items: center;
    width: 300px;
    padding: 20px;
}