<h2>Registro de usuario</h2>
<form [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <div class="container">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="ingresa tu email">
    </div>
    <div class="container">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="ingresa tu contraseña">
    </div>
    <div class="container">
    <input type="submit" value="Registrar">
</div>
</form>